

.messages-list-header {
  color: lawngreen;
  padding: 5px;
  border-bottom: 2px lawngreen solid;
  display: flex;
  text-align: center;
  justify-content: center;
}

.message {
  display: flex;
  height: 50px;
  width: 100%;
  border-bottom: 2px lawngreen dashed;
  color: lawngreen;
}
