form > input[type=text] {
  color: lawngreen;
  width: 85%;
  background-color: black;
  outline: 0;
  border-width: 0 0 0 0;
  font-size: 20px;
  padding-left: 12px;
}

form > input[type=text]::placeholder {
  color: darkgreen;
}

form > input[type=button] {
  background-color: black !important;
  color: lawngreen;
  width: 15%;
  height: 100%;
  background-color: black;
  outline: 0;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-left: 2px lawngreen solid;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

form > input[type=button]:hover {
  background-color: lawngreen !important;
  color: black;
}

form > input[type=button]:active {
  background-color: black !important;
  border: 2px lawngreen solid;
  color: lawngreen;
  margin: 0;
  padding: 0;
}
