.contact {
  border-bottom: 2px lawngreen dashed;
  text-align: center;
  color: lawngreen;
  cursor: pointer;
}

.contact:hover {

  background-color: lawngreen;
  color: black;
}

.contact:active {

  background-color: darkgreen;
  color: black;
}
