<div class="main-container">
  <div class="inner-container">
      <form>
        <div class="form-item">
          <input [(ngModel)]="username" name="username" type="text" placeholder="Enter username" required>
        </div>
        <div class="form-item">
          <input [(ngModel)]="password" name="password" type="password" placeholder="and password" required>
        </div>
        <div class="form-item" *ngIf="cridentialsLenghtValidator()">
          <input type="submit" value="Login" (click)="login()">
        </div>
      </form>

      <div id="error" [ngStyle]="{'visibility': errors != null ? 'visible' : 'hidden'}">
        <h1>Error: </h1>
        <p>{{errors}}</p>
      </div>
  </div>
</div>
